marquee {
  /* border: 1px solid #845269; */
  padding: 0.3rem;
  width: 90%;
  margin-left: 4.7rem;
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

#dark marquee{
  background: linear-gradient(109.6deg, rgb(26, 80, 116) 3.6%, rgb(53, 39, 106) 51%, rgb(67, 36, 75) 92.9%);
  color: white;
}




/* Media Queries for Responsive Design */

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
  marquee {
    xh: 100%;
    margin: 0;
    font-size: 1rem;
  }
}

/* Adjust styles for even smaller screens */
@media (max-width: 576px) {
  marquee {
    width: 21rem;
    font-size: 0.8rem;
   margin-left: 1rem;
  }
}
