.mainSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 76vh;
  border-radius: 0.4rem;

  /* border: 1px solid red; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  width: 85%;
  margin-left: 7rem;
  margin-top: 1rem;
  /* flex-direction: row-reverse; */
  /* background: radial-gradient(circle at 2.4% 35.1%, rgb(129, 211, 225) 0%, rgb(239, 145, 236) 90%); */
  /* background: linear-gradient(111.1deg, rgb(251, 140, 0, 0.345) 3.2%, rgb(98, 0, 234, 0.345) 90.3%); */
  background: linear-gradient(
    -20deg,
    rgb(233, 222, 250, 0.345) 0%,
    rgb(251, 252, 219, 0.345) 100%
  );
  background-color: #18191a;

  background: linear-gradient(
    109.6deg,
    rgb(84, 13, 110, 0.451) 11.2%,
    rgb(238, 66, 102, 0.451) 100.2%
  );
}

#dark .mainSection{
  background: #130F40;
}

.mainSectionC {
  width: 40%;
}

.mainSectionImage {
  height: 22rem;
  border-radius: 70% 30% 44% 56% / 47% 47% 53% 53%;
  filter: contrast(140%) saturate(90%);

  animation: morph 15s ease-in-out infinite;
  transition: all 0.4s ease-in-out;
  z-index: 5;
}

@keyframes morph {
  0% {
    border-radius: 42% 58% 59% 41% / 42% 41% 59% 58% ;
    
  }

  10% {
    border-radius: 33% 67% 59% 41% / 51% 34% 66% 49%  ;
    
  }

  20% {
    border-radius: 33% 67% 46% 54% / 65% 45% 55% 35%  ;
    
  }

  30% {
    border-radius: 47% 53% 32% 68% / 59% 34% 66% 41% ;
    
  }

  40% {
    border-radius: 60% 40% 40% 60% / 44% 50% 50% 56%  ;
    
  }

  50% {
    border-radius: 73% 27% 73% 27% / 29% 63% 37% 71% ;
    
  }

  60% {
    border-radius: 50% 50% 57% 43% / 41% 40% 60% 59% ;
    
  }

  70% {
    border-radius: 27% 73% 32% 68% / 58% 24% 76% 42% ;
    
  }

  80% {
    border-radius: 40% 60% 28% 72% / 49% 45% 55% 51% ;
    
  }

  90% {
    border-radius: 59% 41% 47% 53% / 61% 58% 42% 39% ;
    
  }



  100% {
    border-radius: 44% 56% 56% 44% / 39% 50% 50% 61% ;
   
  }
}


.mainSectionImageBg {
  /* border: 1px solid red; */
  border-radius: 70% 30% 44% 56% / 47% 47% 53% 53%;
  /* background: linear-gradient(to right,  #8458742a, #45747826); */
  background: linear-gradient(to right, rgb(151, 150, 240), rgb(251, 199, 212));
  /* background: radial-gradient(circle at 10% 20%, rgb(222, 168, 248) 0%, rgb(168, 222, 248) 21.8%, rgb(189, 250, 205) 35.6%, rgb(243, 250, 189) 52.9%, rgb(250, 227, 189) 66.8%, rgb(248, 172, 172) 90%, rgb(254, 211, 252) 99.7%); */
  height: 22rem;
  margin-top: 3rem;


  animation: morph 15s ease-in-out infinite;
  transition: all 0.4s ease-in-out;
  z-index: 5;
}

#dark .mainSectionImageBg{
  background: radial-gradient(926px at 2.7% 11%, rgb(17, 29, 94) 0%, rgb(178, 31, 102) 90%);
}



@keyframes morph {
  0% {
    border-radius: 42% 58% 59% 41% / 42% 41% 59% 58% ;
    
  }

  10% {
    border-radius: 33% 67% 59% 41% / 51% 34% 66% 49%  ;
    
  }

  20% {
    border-radius: 33% 67% 46% 54% / 65% 45% 55% 35%  ;
    
  }

  30% {
    border-radius: 47% 53% 32% 68% / 59% 34% 66% 41% ;
    
  }

  40% {
    border-radius: 60% 40% 40% 60% / 44% 50% 50% 56%  ;
    
  }

  50% {
    border-radius: 73% 27% 73% 27% / 29% 63% 37% 71% ;
    
  }

  60% {
    border-radius: 50% 50% 57% 43% / 41% 40% 60% 59% ;
    
  }

  70% {
    border-radius: 27% 73% 32% 68% / 58% 24% 76% 42% ;
    
  }

  80% {
    border-radius: 40% 60% 28% 72% / 49% 45% 55% 51% ;
    
  }

  90% {
    border-radius: 59% 41% 47% 53% / 61% 58% 42% 39% ;
    
  }



  100% {
    border-radius: 44% 56% 56% 44% / 39% 50% 50% 61% ;
   
  }
}



.mainSectionHeading {
  /* border: 1px solid red; */
  width: 45rem;
}

#dark h1{
  background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}

.frontEDev {
  /* border: 1px solid red; */
  color: black;
  width: 50rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5rem;
  font-weight: 100;
}

#dark .frontEDev{
  color: #f7f7f7;
}

.paraMainSection {
  margin: 1rem;
  /* border: 1px solid red; */
  /* background: linear-gradient(to right,  #84587471, #4574786a) ; */

  background: radial-gradient(
    250px at 10.9% 48.6%,
    rgb(194, 227, 255) 39.3%,
    rgb(226, 196, 253) 72.5%
  );
  

  padding: 0.4rem;
  border-radius: 0.4rem;
  font-family: sans-serif;
  color: rgb(37, 36, 36);
  /* position: relative; */
  /* width: 85%; */
  width: 10rem;
  font-size: 0.4rem;
}

.paraMainSection:hover {
  margin: 1rem;
  /* border: 1px solid red; */
  /* background: linear-gradient(to right,  #84587471, #4574786a) ; */

  /* background: radial-gradient(250px at 10.9% 48.6%, rgb(194, 227, 255) 39.3%, rgb(226, 196, 253) 72.5%); */
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 113, 210) 0%,
    rgb(184, 96, 255) 90%
  );

  padding: 0.4rem;
  border-radius: 0.4rem;
  font-family: sans-serif;
  color: #f7f7f7;

  transform: translateX(5rem);
  transition: all ease 1s;
  font-size: 1.04rem;
  font-weight: 500;
  width: 80%;
}

h1,
h2 {
  background: linear-gradient(
    109.6deg,
    rgb(43, 1, 91) 13.4%,
    rgb(122, 2, 54) 100.2%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}

span {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5rem;
}

.paraMainSection1,
.paraMainSection3,
.paraMainSection5 {
  width: 12rem;
  margin-left: 7rem;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}

.paraMainSection2,
.paraMainSection4 {
  width: 12rem;
  margin-right: 8rem;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}

#dark .paraMainSection{
  background: linear-gradient(109.6deg, rgb(41, 125, 182) 3.6%, rgb(77, 58, 151) 51%, rgb(103, 55, 115) 92.9%);
  color: white;
}

.paraSectionContainer {
  /* border: 1px solid red; */
  /* background: linear-gradient(
      to right,
      rgb(67, 67, 67, 0.754) 0%,
      rgb(0, 0, 0, 0.754) 100%
    ); */

  background: radial-gradient(
    circle at 10% 20%,
    rgb(236, 158, 248) 0%,
    rgb(131, 83, 241) 90.1%
  );
  padding: 0.3rem 0;
  width: 20rem;
  border-radius: 0.71rem;
  margin-top: 1.5rem;
  margin-left: 3.5rem;
}

#dark .paraSectionContainer{
  background: radial-gradient(926px at 2.7% 11%, rgb(17, 29, 94) 0%, rgb(178, 31, 102) 90%);

}

.paraSectionContainer:hover {
  width: 36rem;
  border-radius: 0.71rem;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(236, 158, 248, 0.345) 0%,
    rgb(131, 83, 241, 0.345) 90.1%
  );

  transition: all ease 0.9s;
}

/* Media Queries for Responsive Design */

@media (max-width: 1024px) {
  .mainSection {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
  }

  .mainSectionC {
    width: 100%;
  }

  .mainSectionImageBg {
    margin-top: 1rem;
  }

  .paraMainSection,
  .paraMainSection1,
  .paraMainSection2,
  .paraMainSection3,
  .paraMainSection4,
  .paraMainSection5 {
    width: auto;
    margin: 0.5rem;
  }
}

@media (max-width: 768px) {
  .mainSectionHeading {
    width: auto;
  }

  .frontEDev {
    width: auto;
    font-size: 2rem;
  }

  .paraMainSection,
  .paraMainSection1,
  .paraMainSection2,
  .paraMainSection3,
  .paraMainSection4,
  .paraMainSection5 {
    font-size: 1rem;
  }

  .paraSectionContainer {
    width: 16rem;
    margin: 2.5rem auto;
  }
}

@media (max-width: 576px) {
  .mainSection {
    margin: auto;
  }

  .mainSectionImage {
    height: 16rem;
  }

  .mainSectionImageBg {
    height: 16rem;
    margin: 0.5rem auto;
  }

  .mainSectionHeading {
    width: auto;
  }

  .frontEDev {
    width: auto;
    font-size: 1.7rem;
    /* border: 1px solid red; */
  }

  .paraMainSection,
  .paraMainSection1,
  .paraMainSection2,
  .paraMainSection3,
  .paraMainSection4,
  .paraMainSection5 {
    font-size: 0.9rem;
    /* border: 1px solid red; */
  }

  .paraMainSection:hover {
    /* margin-right: 10.1rem; */
    /* border: 1px solid red; */
    transform: translateX(3rem);
    transition: all ease 1s;
  }

  .paraMainSection:hover {
    width: 13rem;
  }

  .paraSectionContainer {
    /* border: 1px solid red; */
    width: 14rem;
    margin: 2.5rem auto;
  }
  .paraSectionContainer:hover {
    width: 18rem;
  }
}
